@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #432663;
  --secondary: #ba3d1b;
}
body {
  background-color: #eee;
}
.header-btns:hover {
  color: var(--secondary);
}
.blur-load {
  background-image: url(./assets/elementor-placeholder-image.webp);
  background-size: cover;
  background-position: center;
}
.lazy-loaded-img {
  object-position: center;
  background-position: center;
}
.blur-load.loaded > img {
  opacity: 1;
}

.blur-load > img {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
