@tailwind base;
@tailwind components;
@tailwind utilities;
 :root {
    --primary:#432663;
    --secondary:#BA3D1B;
}
body {
    background-color: #eee;
}
.header-btns:hover  {
    color:var(--secondary);
}